:root {
    --a-color: #212529;
    --b-color: #6c757d;
    --c-color: #F63155;
    --d-color: #F81C44;
    --e-color: #FFFFFF;
    --f-color: #ffd500;
    --g-color: #e9c46a;

    --a-bg-color: #FAFAFA;
    --b-bg-color: #FFF2F1;

    --primary-font: "Roboto Condensed", sans-serif;
    --secondary-font: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    background-color: var(--a-bg-color);
    color: var(--a-color);
}

.no-scroll {
    overflow: hidden;
}

.height-100vh {
    height: 100vh;
}

.colored {
    color: var(--c-color);
}

.display-block {
    display: block;
}

.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.section-header-title {
    font-size: 3rem;
}

.section-header-description {
    font-size: 1rem;
    color: var(--b-color);
}

@Media (width < 750px) {
    .section-header {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
    }
}

.brand-underline {
    text-decoration: solid 8px underline var(--g-color);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: start;
}

.align-center {
    align-items: center;
}

.max-width {
    max-width: calc(1200px - 3rem);
}

.margin-bottom-3rem {
    margin-bottom: 3rem;
}

.padding-bottom-3rem {
    padding-bottom: 3rem;
}

.border-radius-1rem {
    border-radius: 1rem;
}

.margin-0-auto {
    margin: 0 auto;
}

.padding-0-1_5rem {
    padding: 0 1.5rem;
}

.padding-2-1_5rem {
    padding: 2rem 1.5rem;
}

.padding-bottom-2rem {
    padding-bottom: 2rem;
}

.gap-1rem {
    gap: 1rem;
}

.gap-3rem {
    gap: 3rem;
}

.section-btn {
    font-size: 1rem;
    color: var(--e-color);
    background: var(--c-color);
    border: 1px solid var(--c-color);
    padding: 0.6rem 1.2rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.section-btn:hover {
    background-color: inherit;
    color: var(--c-color);
    transition: background-color 0.5s, color 0.5s;
}

.offer-btn {
    font-size: 1rem;
    color: var(--c-color);
    border: 1px solid var(--c-color);
    padding: 0.5rem 0.8rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.offer-btn:hover {
    background: var(--c-color);
    color: var(--e-color);
    transition: background-color 0.5s, color 0.5s;
}

@keyframes grow-full {
    to {
        width: 100%;
    }
}

@keyframes grow-half {
    to {
        width: 50%;
    }
}

.offer-item img,
.menu-tab-item img {
    width: 60%;
    height: auto;
}

.offer-item>p:first-of-type,
.menu-tab-item>p:first-of-type {
    color: var(--b-color);
}

.price {
    font-size: 1.2rem;
    font-weight: 600;
}

.add-to-cart {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.add-to-cart svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--c-color);
    border: 1px solid var(--c-color);
    border-radius: 50%;
}

.hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.hamburger-btn span {
    width: 1.5rem;
    height: 0.25rem;
    background: var(--c-color);
    border-radius: 10px;
}

.visible-flex {
    display: flex !important;

}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--b-color);
    margin: 1rem 0;
}