.best-categories {
    margin-bottom: 3rem;
}

.best-categories-offer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.best-categories-offer-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    gap: 1rem;
}

.best-categories-offer-card h3 {
    font-size: 1.65rem;
}

.best-categories-offer-card p {
    color: var(--b-color);
}

.best-categories-offer-card svg {
    fill: var(--c-color);
    height: 3rem;
    width: 3rem;
}

@Media (width < 850px) {
    .best-categories-offer {
        flex-direction: column;
    }
}