.characteristic {
    margin-bottom: 3rem;
    background: linear-gradient(to bottom, var(--b-bg-color) 50%, var(--a-bg-color) 50%);
}

.characteristic-cards {
    background-color: var(--e-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    padding: 2rem 1.5rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.characteristic-card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card-content {
    max-width: 200px;
}

.card-icon {
    background-color: inherit;
    border-radius: 50%;
    border: 1px solid var(--c-color);
    width: 4.5rem;
    height: 4.5rem;
}

.card-icon>svg {
    width: 100%;
    height: 100%;
    padding: 1.2rem;
    fill: var(--c-color)
}

.card-content h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

.card-content p {
    color: var(--b-color);
    font-size: 0.85rem;
}

@Media(width < 925px) {
    .characteristic-cards {
        flex-direction: column;
        gap: 3rem;
        flex: 0 0 auto;
    }
}