footer {
    background-color: var(--b-bg-color);
    padding-bottom: 3rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: minmax(auto, auto);
    margin: 0 auto;
    padding: 1.5rem;
    max-width: calc(1200px - 3rem);
    justify-content: space-between;
    align-items: start;
}

.footer-container h4 {
    font-size: 1.6rem;
    color: var(--c-color);
    margin-bottom: 1rem;
}

.footer-container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.footer-container p,
.footer-container li {
    color: var(--a-color);
}

.footer-container .subsection a {
    color: var(--b-color);
    text-decoration: none;
    position: relative;
}

.footer-container .subsection a:hover::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--c-color);
    position: absolute;
    left: 0;
    bottom: -2.5px;
    animation: grow-half 0.5s forwards;
}

.follow-section svg {
    width: 1.35rem;
    height: 1.35rem;
    fill: var(--b-color);
    cursor: pointer;
}

@Media(width < 1000px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}