.get-started {
    background-color: var(--primary-background-color);
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.get-started-container {
    display: flex;
    flex-direction: row;
}

.get-started h2 {
    color: var(--tertiary-color);
}

.get-started h2>span {
    display: block;
}

.get-started p {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.menu-btn {
    width: auto;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--tertiary-color);
    color: #FFFFFF;
    font-weight: 700;
}


.btn {
    font-size: 1rem;
    border-radius: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.btn:first-child {
    margin-right: 0.5rem;
}

.order-now-btn {
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    color: #FFFFFF;
}

.check-out-btn {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: var(--secondary-color);
}

.order-now-btn:hover {
    background-color: inherit;
    color: var(--tertiary-color);
    transition: background-color 0.5s, color 0.5s;
}

.check-out-btn:hover {
    color: var(--tertiary-color);
    border: solid 1px var(--tertiary-color);
    transition: border 0.5s, color 0.5s;
}

.svg-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
}

.buy {
    background-color: var(--quaternary-background-color);
}

.svg-container svg {
    width: 1rem;
    height: 1rem;
}

.brand-underline {
    text-decoration: solid 8px underline var(--quaternary-background-color);
}

@media (width < 768px) {

    .get-started-container {
        flex-direction: column;
    }

    .get-started-content {
        padding: 3rem 0;
    }

    .get-started-image {
        display: none;
    }
}