.navbar {
    background-color: var(--b-bg-color);
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 1rem 0;
}

.navbar-list {
    list-style: none;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: calc(1200px - 3rem);
}

.navbar-mobile-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1rem 1.5rem;
    margin: 0;
    gap: 1rem;
    position: absolute;
    width: 100%;
    left: -150vw;
    background-color: var(--b-bg-color);
    transition: left 0.25s linear;
}

.navbar-mobile-links li {
    width: 100%;
}

.navbar-mobile-links a {
    padding: 1rem;
    width: 100%;
    color: var(--b-color);
}

.navbar a {
    display: block;
    text-decoration: none;
}

.navbar-part-brand>h1 {
    color: var(--a-color);
}

.navbar-part-center>a {
    color: var(--b-color);
}

.navbar-part-right>a {
    color: var(--c-color);
}

.navbar-part-center,
.navbar-part-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.sign-up-btn {
    border: 1px solid var(--c-color);
    padding: 0.5rem;
    border-radius: 1rem;
}

.navbar-part-center>a.current-tab {
    color: var(--a-color);
}

.navbar-part-right>a.current-tab {
    color: var(--d-color);
}

.navbar-mobile-links>li>a:hover {
    color: var(--e-color);
    background-color: var(--c-color);
    transition: background-color 0.5s, color 0.5s;
}

.navbar-mobile-links>li>a.current-tab {
    color: var(--e-color);
    background-color: var(--c-color);
}

.navbar-part-center>a,
.navbar-part-right>a,
.navbar-mobile-links>li>a {
    position: relative;
}


.navbar-part-center>a.half-underline:hover::after,
.navbar-part-right>a.half-underline:hover::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--c-color);
    position: absolute;
    left: 0;
    bottom: -2.5px;
    animation: grow-half 0.5s forwards;
}

.navbar-part-right .sign-up-btn:hover {
    background-color: var(--c-color);
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

.brand-name {
    cursor: pointer;
}

.navbar-part-hamburger {
    display: none;
}

.show {
    left: 0;
}

@media (width < 800px) {

    .navbar-part-hamburger {
        display: flex;
    }

    .navbar-part-center,
    .navbar-part-right {
        display: none;
    }
}